---
import clsx from 'clsx'
interface Props {
  /** example => border-white/20 */
  borderColor?: string
  isAbsolute?: boolean
  className?: string
}
const { borderColor = 'border-white/20', isAbsolute, className } = Astro.props
---

<div
  class={clsx(
    'px-8 flex justify-between inset-0 pointer-events-none',
    isAbsolute ? 'absolute' : 'fixed h-screen z-[-1]',
    className
  )}
>
  <div class=`border-r ${borderColor}`></div>
  <div class=`border-r ${borderColor} hidden sm:block`></div>
  <div class=`border-r ${borderColor}`></div>
  <div class=`border-r ${borderColor} hidden sm:block`></div>
  <div class=`border-r ${borderColor}`></div>
  <div class=`border-r ${borderColor} hidden sm:block`></div>
  <div class=`border-r ${borderColor}`></div>
</div>
