---
interface Props {
  /** example => border-white/20 */
  borderColor?: string
}
const { borderColor = 'border-white/20' } = Astro.props
---

<div class='px-8 flex justify-between h-screen fixed inset-0 z-[-1]'>
  <div class=`border-r ${borderColor}`></div>
  <div class=`border-r ${borderColor} hidden sm:block`></div>
  <div class=`border-r ${borderColor}`></div>
  <div class=`border-r ${borderColor} hidden sm:block`></div>
  <div class=`border-r ${borderColor}`></div>
  <div class=`border-r ${borderColor} hidden sm:block`></div>
  <div class=`border-r ${borderColor}`></div>
</div>
